<link rel="stylesheet" href="../stylemenu.css"/>
<footer style="background-color: #384615; color: #ffffff; padding-top: 60px; padding-bottom: 30px;">
    <div class="container">
        <div class="row gx-5">
            <div class="col-md-4 mb-4">
                <h5 class="footer-heading mb-3">Contact Us</h5>
                <p class="footer-text mb-1">tefacoffe@gmail.com</p>
                <p class="footer-text">+6298846657228</p>
            </div>

            <div class="col-md-4 mb-4">
                <h5 class="footer-heading mb-3">Our Roastery</h5>
                <p class="footer-text">
                    Jl. Mastrip, Krajan Timur, Sumbersari,<br>
                    Kec. Sumbersari, Kabupaten Jember,<br>
                    Jawa Timur 68121
                </p>
            </div>

            <div class="col-md-4 mb-4">
                <h5 class="footer-heading mb-3">Follow Us</h5>
                <div class="d-flex gap-3">
                    <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>

        <hr class="my-4" style="opacity: 0.2;">

        <div class="text-center">
            <p class="small mb-2">&copy; 2025 Tefa Coffee. All Rights Reserved.</p>
            <div class="small">
                <a href="#" class="text-white text-decoration-none me-2">Privacy Policy</a>
                <span>&bull;</span>
                <a href="#" class="text-white text-decoration-none ms-2">FAQ</a>
            </div>
        </div>
    </div>
</footer>